<%- include("partials/header", { title }) %>

<main>
  <h1><%= category.name %></h1>

  <h2>Projects in this category</h2>

  <% if (projects.length > 0) { %>
    <ul>
      <% projects.forEach(project => { %>
        <li>
          <a href="/project/<%= project.project_id %>">
            <%= project.name %>
          </a>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No projects found.</p>
  <% } %>
</main>

<%- include("partials/footer") %>