<%- include("partials/header", { title }) %>

    <main class="container">
        <h1>
            <%= title %>
        </h1>

        <h2>Service Project Categories</h2>

        <p>
            Explore different categories of service projects. Each category represents
            an area where volunteers can contribute and make a meaningful impact.
        </p>

        <p>
            <a href="/categories/new-category" class="btn">Add New Category</a>
        </p>

        <% if (categories && categories.length> 0) { %>
            <ul class="card-list">
                <% categories.forEach((cat)=> { %>
                    <li class="card-item">
                        <a href="/categories/<%= cat.category_id %>">
                            <%= cat.name %>
                        </a>
                        |
                        <a href="/categories/edit-category/<%= cat.category_id %>">
                            Edit
                        </a>
                    </li>
                    <% }) %>
            </ul>
            <% } else { %>
                <p>No categories found.</p>
                <% } %>
    </main>

    <%- include("partials/footer") %>