<%- include("partials/header", { title }) %>

    <h1>
        <%= project.name %>
    </h1>

    <p>
        Organization:
        <a href="/organizations/<%= project.organization_id %>">
            <%= project.organization_name %>
        </a>
    </p>

    <p>
        <%= project.description %>
    </p>

    <p>
        Category:
        <a href="/categories/<%= project.category_id %>">
            View Category
        </a>
    </p>

    <%- include("partials/footer") %>